<div class="row">
  <div class="col-12">
    <div class="filter-container isotopeFilters">
      <ul class="list-inline filter">
        <li [class.active]="customizer === 'all'">
          <a (click)="openGallery('all')">All </a>
        </li>
        <li [class.active]="customizer === 'fashion'">
          <a (click)="openGallery('fashion')">Fashion</a>
        </li>
        <li [class.active]="customizer === 'bags'">
          <a (click)="openGallery('bags')">Bags</a>
        </li>
        <li [class.active]="customizer === 'shoes'">
          <a (click)="openGallery('shoes')">Shoes</a>
        </li>
        <li [class.active]="customizer === 'watch'">
          <a (click)="openGallery('watch')">Watch</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="isotopeContainer row" gallerize>
  @if(customizer==='all'){ @for(img of imageData; track img){
  <figure class="p-width isotopeSelector" itemprop="associatedMedia">
    <div class="overlay">
      <a itemprop="contentUrl">
        <img [src]="img.srcUrl" class="img-fluid" alt />
      </a>
    </div>
  </figure>
  } } @if(customizer==='fashion'){

  <app-fashion class="w-100" />

  } @if(customizer==='bags'){
  <app-bags class="w-100" />
  } @if(customizer==='shoes'){
  <app-shoes class="w-100" />
  } @if(customizer==='watch'){
  <app-watch class="w-100" />
  }
</div>
<!-- pagination Start -->
<div class="pagination_sec">
  <div class="content_detail__pagination cdp">
    <ul>
      <li>
        <a href="javascript:void(0)" class="prev"
          ><i class="fa fa-angle-double-left" aria-hidden="true"></i
        ></a>
      </li>
      <li><a href="javascript:void(0)" class="active cdp_i">1</a></li>
      <li><a href="javascript:void(0)" class="cdp_i">2</a></li>
      <li><a href="javascript:void(0)" class="cdp_i">3</a></li>
      <li>
        <a href="javascript:void(0)" class="next"
          ><i class="fa fa-angle-double-right" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
<!-- pagination End -->
