<!--pricing start-->
<section class="resume pricing bg-pink" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="title title2">
          <div class="sub-title">
            <div class="">
              <h2>Why Work With Me</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <owl-carousel-o
          [options]="pricingcarouselOptions"
          class="pricing-slider"
        >
          
          <ng-template carouselSlide class="item">
            <div
              class="price-container price-margin shadows bg-white text-center"
            >
              <div class="price-feature-container set-relative">
                <div class="feature-text">
                  <h4 class="feature-text-heading bold text-uppercase">
                    Short credibility section.
                  </h4>
                  <hr class="set-border" />
                </div>
                <div class="price-features">
                  <h5 class="price-feature text-center">8+ years Angular experience</h5>
                  <h5 class="price-feature text-center">Enterprise application development</h5>
                  <h5 class="price-feature text-center">Clean and maintainable architecture</h5>
                  <h5 class="price-feature text-center">Strong performance optimization skills</h5>
                  <h5 class="price-feature text-center">Reliable remote collaboration</h5>
                </div>
              </div>
            </div>
          </ng-template>
          
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--pricing end-->
