<!--copyright start-->
<footer class="resume copyright copyright-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="text-center">
          <div class="social-link link-horizontal">
            <ul class="justify-content-center">
              <li>
                <a href="https://www.linkedin.com/in/inaas-alii-noormohammad-a0210a133/" class="copyright-text" target="_blank"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="m-l-auto center-para">
          <h6 class="copyright-text text-center">
            © 2026 Inaas Alii
          </h6>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--copyright end-->
<app-tap-to-top />
