<!--subscribe start-->
<section class="resume subscribe" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="title title2">
          <h3 class="subscribe-head">
            Need A Experienced Developer For Your Project?
          </h3>
          <p class="subscribe-sub-head font-primary">
            If you are looking for an experienced Angular developer for freelance or remote collaboration, feel free to contact me.
          </p>
          <span>Location: Remote from Mauritius | Availability: Open for new projects worldwide | Contact: +230 59252711 | Email: inaas.a.n@hotmail.com</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--subscribe end-->
